@import '~antd/dist/antd.css';

.App {
  .ant-layout-header {
    padding-left: 20px;
    .right {
      position: absolute;
      right: 20px;
    }
  }
  .ant-layout-content {
    background-color: white;
  }
  .ant-layout-footer {
    text-align: center;
  }
  .text-content {
    padding: 8px;
    font-size: 16px;
  }
  .ant-input-form {
    padding: 5px;
    &>* {
      margin: 5px;
    }
    input.ant-input {
      width: calc(100% - 10px);
    }
  }
}
