@import '~antd/dist/antd.css';

.App {
  .ant-layout-header {
    padding-left: 20px;
    a {
      font-size: 18px;
      margin: 10px 5px;
    }
  }
  .text-content {
    padding: 8px;
    font-size: 16px;
  }
}