@import "~antd/dist/antd.css";

body,
#root,
.App {
  height: 100%;
  background-color: rgb(240, 242, 245);
  .ant-layout {
    max-width: 800px;
    min-height: 100%;
    margin: 0 auto;
  }
}
.App {
  .ant-layout-header {
    padding: 0 20px;
  }
  .ant-layout-content {
    background-color: white;
  }
  .ant-layout-footer {
    text-align: center;
  }
  .text-content {
    padding: 8px;
    font-size: 16px;
  }
  .form-warpper {
    & > * {
      margin: 5px;
    }
    padding: 5px;
    input.ant-input {
      width: calc(100% - 10px);
    }
  }
  .float-right {
    float: right;
  }
}
